# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-
.gitignore
node_modules/
client/lib
npm-debug.log
server/test.js
server/dist/*
server/db/db.sqlite
config.js
client/assets
