body {
  background-image: url('');
  text-align: center;
  font-family: 'Archivo Narrow'
}


.switch.checked {
  background: #b34332 !important;
  border-color: #b34332 !important;

}


#container {
  text-align: center;
  font-size: 20px;
  width: 900px;
  margin: 10% auto 120px;
  border: 0px solid black;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  padding: 50px;
  background-color: rgba(255,255,255,0.4);
  background-image: url('/app/images/crossword.png');
  z-index: 200;

}
#urlimage {
  text-align: center;
  width: 800px;
  margin: auto auto;
}
#imagepreview {
  display: block;
  margin: 20px auto;
  width: 600px;
}


h1 {
  font-size: 450%;
  font-family: 'Archivo Narrow';
  margin: 0;
  text-align: center;
   color:black;
   letter-spacing: 2px;
  -moz-transition-property: color;  /* FF4+ */
  -moz-transition-duration: 2s;
  -webkit-transition-property: color;  /* Saf3.2+, Chrome */
  -webkit-transition-duration: 2s;
  -o-transition-property: color;  /* Opera 10.5+ */
  -o-transition-duration: 2s;
  -ms-transition-property: color;  /* IE10? */
  -ms-transition-duration: 2s;
  transition-property: color;  /* Standard */
  transition-duration: 2s;

}
h1:hover {
 color:  #b34332;
}

#incorrect {
  color:  #b34332;
  font-size: 40px;
}
.wrapper {
  width: 100%;
   }

.form-wrapper {
  border-bottom: 3px solid #a73f2d;
  border-right: 3px solid #a73f2d;
  border-top: 3px solid #a73f2d;
  border-left: 3px solid #a73f2d;
  width: 60%;
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -khtml-border-radius: 12px;
}

.form-group {
  /*styles for the form-group itself*/
  position: relative;
  width: 100%;
  margin-bottom: 15px; }

.form-group input[type='email'], .form-group input[type='password'] {
    /*Default styles for field*/
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 12px 0 12px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 500;
    border: 1px solid #a73f2d;
    /*background-color:;*/
    border-width: 0 0 1px;
    box-shadow: none;
    z-index: 1; }
.form-group input[type='email']:focus, .form-group input[type='password']:focus {
      outline: 0; }
.form-group label {
    /*Default styles for label*/
    display: inline-block;
    position: absolute;
    margin-bottom: 6px;
    top: 0;
    font-size: 20px;
    font-weight: 300;
    color: rgba(1, 0, 0, 0.4);
    padding: 0;
    transition: all .6s ease; }
.form-group::after {
    /*Default styles for 'after' pseudo selector for form-group*/
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.08);
    transition: all .3s ease; }
.form-group .error-block {
    /*Default Styles for Help-block*/
    position: absolute;
    line-height: 0;
    font-weight: 300;
    font-size: 20px;
    color: #707070;
    line-height: 24px;
    transition: all 0.5s ease;
    margin: 0; }
.form-group .error-block.ng-hide {
      display: block !important;
      visibility: hidden;
      opacity: 0; }
.form-group.has-focus {
    /*When field has focus*/ }
.form-group.has-focus label {
      color: #707070; }
.form-group.has-focus::after {
      left: 0;
      background: #707070;
      width: 100%;
      /*We are changing the width of the pseudo element from 0 to 100%. As there is already transition added to it, the change in width will 'animate'. As we have strategically positioned this pseudo element just below the input with a 2px height, it will 'appear' as bottom-border for the input (which it is actually not)*/ }
.form-group.has-error {
    /*When field has error*/ }
.form-group.has-error label {
      color: #707070; }
.form-group.has-error::after {
      left: 0;
      background: #707070;
      width: 100%; }
.form-group.has-error .help-block:not(.ng-hide) {
      position: absolute;
      color: #707070;
      opacity: 1;
      visibility: visible;
      top: 100%; }
.form-group.has-success.has-focus {
    /*When field has success*/ }

.form-group.has-success.has-focus label {
      color: forestgreen; }
.form-group.has-success.has-focus.has-focus::after {
      left: 0;
      background: forestgreen;
      width: 100%; }
.form-group.is-empty:not(.has-focus) label {
    /* need to find a way to center it better */
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }
input {
  line-height: 1;
  font-size: 25px;
  text-align: center;
  padding: 0 10px;
  color: #696969;
  letter-spacing: 2px;
  font-family: 'Archivo Narrow';
  border: 1px solid #696969;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  vertical-align: bottom;
}
button {
  font-size: 30px;
    -moz-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    -webkit-box-shadow:inset 0px 34px 0px -15px #b54b3a;
    box-shadow:inset 0px 34px 0px -15px #b54b3a;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a73f2d), color-stop(1, #b34332));
    background:-moz-linear-gradient(top, #a73f2d 5%, #b34332 100%);
    background:-webkit-linear-gradient(top, #a73f2d 5%, #b34332 100%);
    background:-o-linear-gradient(top, #a73f2d 5%, #b34332 100%);
    background:-ms-linear-gradient(top, #a73f2d 5%, #b34332 100%);
    background:linear-gradient(to bottom, #a73f2d 5%, #b34332 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a73f2d', endColorstr='#b34332',GradientType=0);
    background-color:#a73f2d;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #54170e;
  }
  button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b34332), color-stop(1, #a73f2d));
    background:-moz-linear-gradient(top, #b34332 5%, #a73f2d 100%);
    background:-webkit-linear-gradient(top, #b34332 5%, #a73f2d 100%);
    background:-o-linear-gradient(top, #b34332 5%, #a73f2d 100%);
    background:-ms-linear-gradient(top, #b34332 5%, #a73f2d 100%);
    background:linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b34332', endColorstr='#a73f2d',GradientType=0);
    background-color:#b34332;
  }
  button:active {
    position:relative;
    top:1px;
  }
  p {
    margin: 0;
    text-align: center;
    font-size: 100%;
  }

  .background-image {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;

    display: block;
    background-image: url('/app/images/almacon_2012_background_by_sakurirainne.png');
    width: 9000px;
    height: 8000px;

    animation: changeBlur 5s linear 5s infinite alternate;
  }

  #second-bg-image {

    opacity: 0.6;

    position: fixed;
    top: -20;
    bottom: 0;
    left: -20;
    right: 0;

    animation: changeBlur 7s linear 7s infinite alternate;
    z-index: -50;

  }

  #color {

    opacity: 0.6;
    background-color: rgba(120,255,120,0.2);

    position: fixed;
    top: -20;
    bottom: 0;
    left: -20;
    right: 0;

    z-index: 2;

  }


  @keyframes changeBlur {
      from {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
        filter: blur(2px);
      }
      to {
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
      }
  }



  #siteimg {
    display: none;
  }
  #theframe {
    display: none;
  }

  #imgview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30000;
    border: 1px solid yellow;
    display: none;
    background-repeat: no-repeat;
  }

 /* .form-style-8{
      font-family: 'Open Sans Condensed', arial, sans;
      width: 500px;
      padding: 30px;
      background: #FFFFFF;
      margin: 10px auto 50px auto;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
      -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

  }
  .form-style-8 h2{
      background: #4D4D4D;
      text-transform: uppercase;
      font-family: 'Open Sans Condensed', sans-serif;
      color: rgba(255,255,102,0.8);
      font-size: 18px;
      font-weight: 100;
      padding: 20px;
      margin: -30px -30px 30px -30px;
  }
  .form-style-8 input[type="text"],
  .form-style-8 input[type="date"],
  .form-style-8 input[type="datetime"],
  .form-style-8 input[type="email"],
  .form-style-8 input[type="number"],
  .form-style-8 input[type="search"],
  .form-style-8 input[type="time"],
  .form-style-8 input[type="url"],
  .form-style-8 input[type="password"],
  .form-style-8 textarea,
  .form-style-8 select
  {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      outline: none;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid #ddd;
      background: transparent;
      margin-bottom: 10px;
      font: 16px Arial, Helvetica, sans-serif;
      height: 45px;
      text-align: center;
  }
  .form-style-8 textarea{
      resize:none;
      overflow: hidden;
  }
  .form-style-8 input[type="button"],
  .form-style-8 input[type="submit"]{
      -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
      box-shadow: inset 0px 1px 0px 0px #45D6D6;
      background-color: #2CBBBB;
      border: 1px solid #27A0A0;
      display: inline-block;
      cursor: pointer;
      color: #FFFFFF;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 14px;
      padding: 8px 48px;
      text-decoration: none;
      text-transform: uppercase;
  }
  .form-style-8 input[type="button"]:hover,
  .form-style-8 input[type="submit"]:hover {
      background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
      background-color:#34CACA;
  }*/
#signingup {
  font-size: :30px;
}
#signup-button{
    width: 25%;
    font-size: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px; /* for old Konqueror browsers */


}
#signout-button{
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px; /* for old Konqueror browsers */

}

#submit-button {
    margin-left: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px; /* for old Konqueror browsers */
}

#login-button {
   width: 25%;
    font-size: 20px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    -khtml-border-radius: 7px; /* for old Konqueror browsers */
}

#url{
  width: 300px;
  height: 33px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -khtml-border-radius: 7px; /* for old Konqueror browsers */
}


  table.gradienttable {
  	font-family: verdana,arial,sans-serif;
  	font-size:11px;
  	color:#333333;
  	border-width: 1px;
  	border-color: #999999;
  	border-collapse: collapse;
    width: 100%;
  }
  table.gradienttable th {
  	padding: 15px 0px;
  	background: #d5e3e4;
  	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZTNlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2NjZGVlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiM2M4Y2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  	background: -moz-linear-gradient(top,  #d5e3e4 0%, #ccdee0 40%, #b3c8cc 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5e3e4), color-stop(40%,#ccdee0), color-stop(100%,#b3c8cc));
  	background: -webkit-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
  	background: -o-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
  	background: -ms-linear-gradient(top,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
  	background: linear-gradient(to bottom,  #d5e3e4 0%,#ccdee0 40%,#b3c8cc 100%);
  	border: 1px solid #999999;
  }
  table.gradienttable td {
  	padding: 10px;
  	background: #ebecda;
  	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWNkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2UwZTBjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZWNlYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  	background: -moz-linear-gradient(top,  #ebecda 0%, #e0e0c6 40%, #ceceb7 100%);
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebecda), color-stop(40%,#e0e0c6), color-stop(100%,#ceceb7));
  	background: -webkit-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
  	background: -o-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
  	background: -ms-linear-gradient(top,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
  	background: linear-gradient(to bottom,  #ebecda 0%,#e0e0c6 40%,#ceceb7 100%);
  	border: 1px solid #999999;
    text-align: center;
  }
  table.gradienttable tr td:first-child {
    width: 1%;


  table.gradienttable th td{
  	margin:0px;
  	padding:8px;
  	border-top: 1px solid #eefafc;
  	border-bottom:0px;
  	border-left: 1px solid #eefafc;
  	border-right:0px;
  }
  table.gradienttable td{
  	margin:0px;
  	padding:8px;
  	border-top: 1px solid #fcfdec;
  	border-bottom:0px;
  	border-left: 1px solid #fcfdec;;
  	border-right:0px;

  }

  .wrapper {
  width: 100%;
   }

.form-wrapper {
  border-bottom: 3px solid #a73f2d;
  border-right: 3px solid #a73f2d;
  border-top: 3px solid #a73f2d;
  border-left: 3px solid #a73f2d;
  width: 70%;
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -khtml-border-radius: 12px;
}

.form-group {
  /*styles for the form-group itself*/
  position: relative;
  width: 100%;
  margin-bottom: 15px; }

.form-group input[type='email'], .form-group input[type='password'] {
    /*Default styles for field*/
    position: relative;
    width: 100%;
    background: 0 0;
    padding: 12px 0 12px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 500;
    border: 1px solid #a73f2d;
    /*background-color:;*/
    border-width: 0 0 1px;
    box-shadow: none;
    z-index: 1; }
.form-group input[type='email']:focus, .form-group input[type='password']:focus {
      outline: 0; }
.form-group label {
    /*Default styles for label*/
    display: inline-block;
    position: absolute;
    margin-bottom: 6px;
    top: 0;
    font-size: 20px;
    font-weight: 300;
    color: rgba(1, 0, 0, 0.4);
    padding: 0;
    transition: all .6s ease; }
.form-group::after {
    /*Default styles for 'after' pseudo selector for form-group*/
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.08);
    transition: all .3s ease; }
.form-group .error-block {
    /*Default Styles for Help-block*/
    position: absolute;
    line-height: 0;
    font-weight: 300;
    font-size: 20px;
    color: #707070;
    line-height: 24px;
    transition: all 0.5s ease;
    margin: 0; }
.form-group .error-block.ng-hide {
      display: block !important;
      visibility: hidden;
      opacity: 0; }
.form-group.has-focus {
    /*When field has focus*/ }
.form-group.has-focus label {
      color: #707070; }
.form-group.has-focus::after {
      left: 0;
      background: #707070;
      width: 100%;
      /*We are changing the width of the pseudo element from 0 to 100%. As there is already transition added to it, the change in width will 'animate'. As we have strategically positioned this pseudo element just below the input with a 2px height, it will 'appear' as bottom-border for the input (which it is actually not)*/ }
.form-group.has-error {
    /*When field has error*/ }
.form-group.has-error label {
      color: #707070; }
.form-group.has-error::after {
      left: 0;
      background: #707070;
      width: 100%; }
.form-group.has-error .help-block:not(.ng-hide) {
      position: absolute;
      color: #707070;
      opacity: 1;
      visibility: visible;
      top: 100%; }
.form-group.has-success.has-focus {
    /*When field has success*/ }

.form-group.has-success.has-focus label {
      color: forestgreen; }
.form-group.has-success.has-focus.has-focus::after {
      left: 0;
      background: forestgreen;
      width: 100%; }
.form-group.is-empty:not(.has-focus) label {
    /* need to find a way to center it better */
    font-weight: 400;
    text-align: center;
    font-size: 25px;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    }

.switch small {
    background: #E05050;
}

.switch.checked {
  background: #171A17;
  border-color: #5A5A5A;
}
