  <!--
  <div id="container">
    <form id="theform" action='results.html'>
      <h2>The Web Scraper</h2>
      <p>Welcome to The Web Scraper.  For all your scraping needs.</p>
      <p>All you need is a valid email address so sign up today and receive free scapes for life!</p>

      <input type="text" name="email" id="email" value="email address" onfocus="this.value=''">
      <input type="text" name="pass" id="pass" value="password" onfocus="this.type='password';this.value=''">
      <button type="submit">SUBMIT</button>
    </form>
  </div>
-->
<div id="container">
  <div class="form-style-8">
    <img src="/app/images/logo_alpha.png" />
    <div id='incorrect'>{{error}}</div>
    <div class="wrapper">
      <div class="form-wrapper">
        <form name="form"  ng-submit="login()">
          <div class="form-group"
            ng-class='{ "has-focus": form.email.hasFocus,
            "has-success": form.email.$valid,
            "has-error": form.email.$invalid && (form.$submitted || form.email.$touched),
            "is-empty": !form.email.$viewValue }'>
            <label for="email">email</label>
            <input type="email" name="email" ng-model="user.email" required
            ng-focus='form.email.hasFocus=true', ng-blur='form.email.hasFocus=false'>
             <p ng-show="form.email.$error.required && (form.email.$touched || submitted)"
             class="error-block">Email is Required!</p>
          </div>

          <div class="form-group"
            ng-class='{ "has-focus": form.password.hasFocus,
            "has-success": form.password.$valid,
            "has-error": form.password.$invalid && (form.$submitted || form.password.$touched),
            "is-empty": !form.password.$viewValue }'>
            <label for="password">password</label>
            <input type="password" name="password" ng-model="user.password" required
            ng-focus='form.password.hasFocus=true', ng-blur='form.password.hasFocus=false' autocomplete="off">
             <p ng-show="form.password.$error.required && (form.password.$touched || submitted)" class="error-block">Email is Required!</p>
             <p ng-show="form.password.$error.password && (form.password.$touched || submitted)" class="error-block">Password is Invalid!</p>
          </div>
        <button id='login-button'>Login</button>
        </form>
       <span id='signingup' ui-sref='signup'>Sign Up</span>
      </div>
    </div>
  </div>
  <p>Welcome to The Web Scraper.  For all your scraping needs.</p>
  <p>All you need is a valid email address so sign up today and receive free scapes for life!</p>
</div>
