  <!--
  <div id="container">
    <form id="theform" action='results.html'>
      <h2>The Web Scraper</h2>
      <p>Welcome to The Web Scraper.  For all your scraping needs.</p>
      <p>All you need is a valid email address so sign up today and receive free scapes for life!</p>

      <input type="text" name="email" id="email" value="email address" onfocus="this.value=''">
      <input type="text" name="pass" id="pass" value="password" onfocus="this.type='password';this.value=''">
      <button type="submit">SUBMIT</button>
    </form>
  </div>
-->

    <h1>The Web Scraper</h1>


    <div class="form-style-8">

 
      <div>{{error}}</div>

       <form name="form" ng-submit="login()" novalidate>
                <div class="form-group"  ng-class='{ "has-focus": form.email.hasFocus,
                    "has-success": form.email.$valid,
                     "has-error": form.email.$invalid && (form.$submitted || form.email.$touched),
                     "is-empty": !form.email.$viewValue }'>
                      <label for="email">Enter an email</label>
                      <input type="text" placeholder="Email"  ng-model="user.email">
                      <p class="error-block">Name is Required!</p>
                </div>

                <div class="form-group"  ng-class='{ "has-focus": form.email.hasFocus,
                    "has-success": form.email.$valid,
                     "has-error": form.email.$invalid && (form.$submitted || form.email.$touched),
                  "is-empty": !form.email.$viewValue }'>
                     <label for="email">Enter a Password</label>
                     <input type="password" placeholder="Password" ng-model="user.password" required ng-focus='form.password.hasFocus=true', ng-blur='form.password.hasFocus=false' autocomplete="off">
                     <p ng-show="form.password.$error.required && (form.password.$touched || submitted)" class="error-block">Password is Required!</p>
                     <p ng-show="form.password.$error.password && (form.password.$touched || submitted)" class="error-block">Password is Invalid!</p>
                  </div>
             <button id='login-button'>Login</button>
      </form>
      <span ui-sref='signup'>Sign Up</span>
    </div>
    
    <p>Welcome to The Web Scraper.  For all your scraping needs.</p>
    <p>All you need is a valid email address so sign up today and receive free scapes for life!</p>
 
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

