<tour step="currentStep" post-step="stepComplete()">
  <span tourtip="Copy here the URL that you want"
        tourtip-step="0"
        tourtip-next-label="Next"
        tourtip-placement="left"
        scrollSpeed="500"
        tourtip-offset="15">
  </span>
</tour>
<div id="app">
    <div id='page'>
      <header>
        <img src="/app/images/logo_alpha.png" />
      </header>

      <div id="logout">
        <button id='signout-button' type ='button' ng-click="logout()">
          <span class="icon-exit"></span>
          Logout
        </button>
      </div>
      <form id="form__url" ng-submit='add()'>
        <input type="text" name="url" ng-model="url" id="url">
        <input type="submit" value="Scrape It"/>
      </form>

      <hr>
      <ui-view></ui-view>
    </div>

</div>
