<div id="app">
  <tour step="currentStep" post-step="stepComplete()">
    <div id='page'>
      <header>
        SCRAPIN´IT
      </header>
      <div id="switching">
        <switch id="enabled" name="enabled" ng-model="enabled" on="Image" off="Text" class="purple">
      </div>
      <div id="logout">
        <button id='signout-button' type ='button' ng-click="logout()">
          <span class="icon-exit"></span> 
          Logout
        </button>
      </div>
      <form id="form__url" ng-submit='add()'>
        <span tourtip="Copy here the URL that you want"
              tourtip-step="0"
              tourtip-next-label="Next"
              tourtip-placement="left"
              scrollSpeed="500"
              tourtip-offset="15">
          <input type="text" placeholder="http://" name="url" ng-model="url" id="url">
        </span>
        <input type="submit" value="SUBMIT"/>
      </form>

      <hr>
      <ui-view></ui-view>
    </div>
  </tour>
</div>

