<div id="imgview"></div>


<form ng-submit='add()'>
Insert a new URL to watch... <input type="text" name="url" ng-model="url" id="url">
<button id='submit-button' type="submit">Submit</button>
<button id='signout-button' type ='button' ng-click="logout()">Logout</button>
</form>

<!--
<div>{{html}}</div>
-->

<hr>
<ui-view></ui-view>
<!-- <img id="imgpreview" ng-src='{{urlImagePreview}}'></img> -->
<div style="background-image: url(''); background-size: cover; width: 614px; height: 461px; border: 1px solid black" id="siteimg"></div>


<iframe src="" width="100%" height="500px" id="theframe"><h1>dsadsa</h1></iframe>
